
<form method = "post" action = "/bands/<%= @band.id %>/edit">

	<div>
		<label>Band Name:</label>
		<input type = 'text' name = 'band[band_name]' value = "<%= @band.band_name %>" autofocus />
	</div>
	<div>
		<label> Number of Albums:</label>
		<input type = 'integer' name = 'band[num_albums]' value = "<%= @band.num_albums %>" />
	</div>
	<div>
		<label>Lead Singer:</label>
		<input type = 'text' name = 'band[lead_singer]' value = "<%= @band.lead_singer %>" />
	</div>
	<div>
		<label>Has this band won a grammy:</label>
		<% if @band.grammy_won == true  %>
		<input type="radio" name='band[grammy_won]' value="true" <%= checked = "checked" %>>Yes
		<input type="radio" name='band[grammy_won]' value="false">No
		<% else %>
		<input type="radio" name='band[grammy_won]' value="true">Yes
		<input type="radio" name='band[grammy_won]' value="false"<%= checked = "checked" %>>No
			<% end %>
	</div>

	<div id = "action_button">
		<input type = "submit" value = "Update this band">
	</div>

</form>
<hr>
	<div id ="action_buttons">
		<form action="/bands/<%= @band.id %>/new_member">
		    <input type="submit" value="Add a band member">
		</form>	
<hr>
		<form action="/bands/<%= @band.id %>/delete">
		    <input type="submit" value="Delete this band">
		</form>
	</div>